.container {
  background-color: #C3E0A5;
}

.bg-myLightGreen {
  background-color: #DCF6B2;
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}

@font-face {
  font-family: imf;
  src: url(./fonts/IMFellEnglishSC-Regular-Titles.ttf);
}

@font-face {
  font-family: neucha;
  src: url(./fonts/Neucha-Regular.ttf);
}

.titles {
  font-family: "imf", imf
}

.other-text{
  font-family: 'neucha', neucha
}
  